$var1: #418075;
$var2: #FFFFFF;

.header {
  background: $var1;
  width: 100%;
  height: 100px;
  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    width: 100%;
  }
  &_box {
    display: flex;
    align-items: center;
  }
  &_list {
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }
  &_item a {
    color: $var2;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &_right {
    margin: 24px 0 0 40px;
    width: 30px;
    height: 30px;
    a img {
      width: 100%;
      height: 100%;
    }
  }
}
