@import url(parts/index-css/header.css);
@import url(parts/index-css/first.css);
@import url(parts/index-css/documents.css);
@import url(parts/index-css/authorization.css);
@import url(parts/index-css/requirements.css);
@import url(parts/index-css/catalog.css);
@import url(parts/index-css/footer.css);

@import url(./parts/types-toursit-css/visa.css);
@import url(./parts/types-toursit-css/what.css);
@import url(./parts/types-toursit-css/how.css);

.container {
    max-width: 1140px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}