.requirements {
    background: url("../../../img/map-requirements 2.png") #F1FBF9 no-repeat center;
    width: 100%;
    height: 655px;
}


.requirements-image {
    width: 67px;
    height: 57px;
    background: #418075;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.requirements-item {
    width: 255px;
    height: 349px;
    border-radius: 10px;
    background: #FFF;
    padding-top: 30px;
    transition: 0.25s;
}

.requirements-title {
    color: #263238;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 59.5px;
    margin: 0;
    padding-top: 90px;
}

.requirements-subtitle {
    color: #263238;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 35px;
    margin: 0;
}

.requirements-list {
    padding: 50px 0 0 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin: 0 auto;
}

.requirements-item-title {
    padding: 30px 0 0 0;
    margin: 0;
    color: #263238;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.requirements-item-subtitle {
    margin: 0;
    padding: 30px 0 0 0;
    color: #263238;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.requirements-item:hover {
    box-shadow: 6px 6px 4px 0 rgba(0, 0, 0, 0.25);
}